html, body {
	width:100%;
	height:100%;
	overflow: hidden;
}

canvas#gameCanvas {
	width:800px;
	height:600px;
	margin: 50px auto;
	background: black;
	display: block;
}

aside {
	position: absolute;
	top:0;
	left:-200px;
	height:100%;
	background: grey;
	border: silver solid 2px;
	box-shadow: black 2px 2px 20px;
}

#undoButton {
	display:none;
}